
<p>
    Greetings. Please find below links to an automatic report providing litigation analytics and judge
    analytics. These analytics may be relevant for a case in which a ${myFirmName} lawyer recently appeared
    in federal district court for the defense.
</p>

<p>
    These Legal Analytics are from<br />
    (a) Lex Machina's Early Case Assessor, which provides a report for any case based on the track record in
    federal district court of the plaintiff and its law firm, and <br />
    (b) Lex Machina's Judge Analytics for the federal district court judge assigned to the case.
</p>

<p>
    Case: <%= caseName %>
</p>

<p>
    ${myFirmName} attorneys representing defendants : ${defenseText}
</p>

<p>
    (a) ${plaintiffText}

    (b) ${judgeText}
</p>